<div class="main">
    <table>
        <tr>
            <th>ID</th>
            <td>{{employeeDetails.id}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{employeeDetails.name}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{employeeDetails.email}}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{employeeDetails.phone}}</td>
        </tr>
    </table>
</div>

<div class="backButton">
    <button [routerLink]="['']" class="btn btn-secondary">Back</button>
</div>