.main {
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.backButton{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
}
