<div *ngIf=!show>
    <div class="mainComponent">
        <h1>Employee List</h1>
        <button (click)="showHide()" class="btn btn-primary">Add Employee</button>
    </div>
    <table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>View Employee</th>
    </tr>
   <tr *ngFor="let employee of currentEmployeeList;let i=index">
       <td>{{i+1 + (5*pageNumber)}}</td>
       <td>{{employee.name}}</td>
       <td>{{employee.email}}</td>
       <td>{{employee.phone}}</td>
       <td>
           <a [routerLink]="['details']" [queryParams]={id:employee.id} >View</a>
       </td>
   </tr>  
</table>
<div class="align-mid">
    <button (click)="onPrev()" [disabled]="disablePrev" class="btn btn-secondary align">Previous</button>
    <button (click)="onNext()" [disabled]="disableNext" class="btn btn-primary align">Next</button>
</div>
</div>

<app-add-employee (newEmployee)="addEmployee($event)" *ngIf=show></app-add-employee>

