<div class="main">
    <form [formGroup]="employeeUpdateForm">
        <div class="formField">
          <p class="inputLabels">Name</p>
          <input [formControl]="this.control.updateForm.name" class="textFieldInput" type="text">
        </div>
        <div class="formField">
          <p class="inputLabels">Email</p>
          <input [formControl]="this.control.updateForm.email" class="textFieldInput" type="text">
        </div>
        <div class="formField">
          <p class="inputLabels">Phone</p>
          <input [formControl]="this.control.updateForm.phone" class="textFieldInput" type="text">
        </div>
        <div>
          <button (click)="submit()" [disabled]="this.employeeUpdateForm.invalid" class="btn btn-success" style="margin-top: 10px;" >ADD</button>
        </div>
      </form>
</div>