.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.formField {
    min-width: 320px;
    margin-top: 15px;
  }
  .inputLabels {
    font-family: "Open Sans";
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
  .textFieldInput {
    width: 100%;
    height: 30px;
    border-radius: 2px;
    background: transparent;
    font-size: 16px;
    border: 1px solid #d7d7d7;
    padding-left: 10px;
    color: black;
    outline: none;
  }